body {
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.game-pane {
    border-style: solid;
    border-width: 1px;
    border-color: #ce9ca5;
    box-shadow: 2px 2px 2px #a16e77;
    background: #fce5e9;
    position: absolute;
    top:4em
}

.cell {background-color: pink;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-style: outset;
    border-width: 3px;
    border-color: #f8e3e7;
    box-shadow: 1px 1px 2px 1.5px #cd8eb0;
    transform: scale(0.9);
    user-select: none;
}

.clear {
    border: solid;
    border-color: #eae9e9;
    background: #ffe1e6;
    border-width: 3px;
}

.cell.landmine {
    background-color: chocolate;
}

.cell.landmine.exploded{
    background-color: red;
}

.cell.landmine.success{
    background-color:green;
}
